# other requirements
django-app-helper
coverage
isort
flake8
# needed for the build to work
uwsgi
# requirements from setup.py
django-filer>=1.2.4
# for testing
git+https://github.com/FinalAngel/django-cms.git@release/4.0.1.x#egg=django-cms
